{{ range site.Menus.main }}
{{ $.Scratch.Set .Identifier .Name }}
{{ end}}
{{ $.Scratch.Set "Intern" "Internes"}}

{{if not .IsHome -}}
<div class="b no-print w-100 pb1">
	<a href={{ site.Home.RelPermalink}}>{{ $house := resources.Get "svg/house.svg"  }}{{ $house.Content | safeHTML}}</a>
	<span class=nowrap>{{ with site.GetPage .Section }}<a class=ph1 href={{ .RelPermalink }}>{{ .Name }}</a>{{ end}}</span>

	{{ if ne .CurrentSection .FirstSection}}
	{{ $book := resources.Get "svg/book.svg" }}{{ $book.Content |safeHTML }}
	<span class=nowrap>{{ with .CurrentSection }}<a class=ph1 href={{ .RelPermalink }}>{{ .Name }}</a>{{ end}}</span>
	{{end}}
</div>
{{- end}}
