<!-- Dubline Core - see https://www.dublincore.org/specifications/dublin-core/usageguide/elements/ -->
<meta name=DC.Title content="{{ .RenderString site.Title }} - {{ .Page.Title  | markdownify}}"/>
<meta name=DC.Subject content="{{ range $index, $director := .Page.Params.tags }}{{ if $index }},{{ end }}{{ . }}{{ end }}"/>
{{ with  .Description }}<meta name=DC.Description content="{{ $.RenderString . }}"/>{{ end}}
<meta name=DC.Identifier content="{{ .Permalink }}" /> 
{{ with .Date }}<meta name=DC.Date content="{{ .UTC.Format site.Params.dateFormatShort }}" /> {{end}}
{{ with site.Params.Creator }}<meta name=DC.Creator content="{{ . }}"/>{{ end}}
{{ with site.Params.Publisher }}<meta name=DC.Publisher content="{{ . }}"/>{{ end}}
{{ with site.Params.Copyright }}<meta name=DC.Rights content="{{ . }}"/>{{- end }}
{{ with site.Language.Lang -}}<meta name=DC.Language content={{ . }} />{{- end }}
<!-- Dublin Core -->
