<nav class="f3 pr2 tr br-ns bw2-ns b--blue navigation">
<ul class="dn db-ns list" >
	{{ $currentPage := . }}

	{{ range site.Menus.main -}}
		{{ $is := $currentPage.IsMenuCurrent "main" . }}
		<li class=pb2>
			<span class="f4 b db" ><a href="{{ .URL }}" Title="{{ .Name }}">{{ .Name | markdownify }}</a></span>
		</li>
	{{- end}}

	<li id=feed class=pt4>{{ with  .OutputFormats.Get "ATOM" -}}
		<span class="f4 b db" ><a href="{{.RelPermalink}}" target=_blank type="{{ .MediaType.Type }}"><i class="fas fa-rss fa-fw"></i></a></span>
		{{- end }}
	</li>  
</ul>

<div class="db dn-ns hamburg">
<i class="ma0 f2 fas fa-bars fa-fw"></i>
<ul class=menu>
	{{ range site.Menus.main }}<li class=menu-item><a href={{ .URL }}>{{ .Name | markdownify }}</a></li>{{ end }}
</ul>	
</div>

</nav>
