<nav class="f3 pr2 tr br-ns bw2-ns b--blue navigation">
<ul class="dn db-ns">
	{{ range site.Menus.main -}}
		<lo class=pt1>
			{{ if $.Page.IsMenuCurrent "main" . -}}
				<span class="white bg-blue ph1">{{.Name | markdownify}}</span>
			{{- else -}}
				<span class="db ph1" ><a href="{{ .URL }}" Title="{{ .Name }}">{{ .Name | markdownify }}</a></span>
			{{- end}}
		</lo>
	{{- end}}

	{{ if site.IsServer -}}
		<lo class=pt1>
			{{ $isIntern := (and (eq "intern" .Page.Section) (eq "section" .Page.Kind)) }}
			{{ if $isIntern -}}
				<span class="white bg-blue ph1">Intern</span>
			{{- else -}}
				{{ with site.GetPage "/intern/_index.md" }}
					<span class="db ph1"><a href={{.RelPermalink}} Title=Intern>Intern</a></span>
				{{end}}
			{{- end}}
		</lo>
		<lo class=pt1>
			{{ $isTest := (and (eq "test" .Page.Section) (eq "section" .Page.Kind)) }}
			{{ if $isTest -}}
				<span class="white bg-blue ph1">Test</span>
			{{- else -}}
				{{ with site.GetPage "/test/_index.md" }}
					<span class="db ph1"><a href={{.RelPermalink}} Title=Intern>Test</a></span>
				{{end}}
			{{- end}}
		</lo>
	{{- end}}

	<lo id=feed class=pt1>
		<span class="db pv1" ><a href=/feed.xml target=_blank type=application/atom+xml Title="ATOM Feed"><i class="pt4 fas fa-rss fa-fw"></i></a></span>
	</lo>  

</ul>

<div class="db dn-ns pt3 pr2 h-100 w-100 hamburg">
<select class="dn b dark-blue bw0 bg-transparent" onchange="window.location.replace(this.value);">
	{{ range site.Menus.main }}
		<lo class=pt1>
			{{ if $.Page.IsMenuCurrent "main" . -}}
				<option value={{ .URL }} selected>{{.Name | markdownify}}</option>
			{{ else }}
				<option value={{ .URL }}>{{ .Name | markdownify }}</option>
			{{ end }}
		</lo>
	{{ end }}
</select><i class="f2 b dark-blue fas fa-bars fw"></i>
</div>

</nav>
