<nav class="f4 pt3">
<div class="dn db-ns tr">
    {{ range site.Menus.main -}}
        {{ if or (lt .Weight 900) site.IsServer }}
            <div class=pb2><a class=b href={{ .URL }}>{{ .Name | markdownify }}</a></div>
            {{ if .HasChildren }}
                <div class="f5">
                    {{ range .Children }}
                        <div><a href="{{ .URL }}">{{ .Name }}</div>
                    {{ end }}
                </div>
            {{end}}
        {{end}}
    {{- end}}

</div>
<!-- thanks to https://css-tricks.com/three-css-alternatives-to-javascript-navigation/ -->
<div id="menuToggle" class="db dn-ns tr">
    <label for=toggle><i class="tc f2 fas fa-bars fa-fw"></i></label>
    <input id=toggle type=checkbox>
    <ul id="menu">
    {{ range site.Menus.main }}
      {{ if or (lt .Weight 900) site.IsServer }}
        <li class=pb1><a class=b href={{ .URL }}>{{ .Name | markdownify }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
</div>
</nav>
