<!-- basis stylesheet -->
{{ $tccs := resources.Get "css/tachyons.css" }}
{{ $tccs  = $tccs | minify | resources.Fingerprint site.Params.digest }}
<link rel=preload as=style type=text/css href={{ $tccs.RelPermalink }} integrity={{ $tccs.Data.Integrity }}  />

<!-- theme stylesheet -->
{{ $mccs := resources.Get "css/main.css" }}
{{ $mccs  = $mccs | minify | resources.Fingerprint site.Params.digest }}
<link rel=preload as=style type=text/css href={{ $mccs.RelPermalink }} integrity={{ $mccs.Data.Integrity }}  />

<!-- fancybox CSS for gallery -->
{{ $fccs := resources.Get "css/jquery.fancybox.css" }}
{{ $fccs  = $fccs | minify | resources.Fingerprint site.Params.digest }}
<link rel=prefetch as=style href={{ $fccs.RelPermalink }} integrity={{ $fccs.Data.Integrity }} />

<!-- fancybox script for gallery -->
{{ $fb := resources.Get "js/jquery.fancybox.3.5.7.js" | minify }}
{{ $fb = $fb | resources.Fingerprint site.Params.digest }}
<link rel=modulepreload as=script href={{ $fb.RelPermalink }} integrity={{ $fb.Data.Integrity }} />

<!-- panarama scripts -->
{{ $osd := resources.Get "js/openseadragon.js" }}
{{ $osd = $osd | minify | resources.Fingerprint site.Params.digest }}
<link rel=modulepreload as=script href={{ $osd.RelPermalink }} integrity={{ $osd.Data.Integrity }} />

<!-- LaTex scripts -->
<link rel=modulepreload as=script href=https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js />
