<!-- left & right hand for prev & next article in this sesction -->
<div class="pt4 tc">
{{if .NextInSection -}}
	<a href={{.NextInSection.Permalink}} title="{{.NextInSection.Title}}"><i class="far fa-hand-point-left"></i></a>{{else}}<i class="far fa-hand-rock light-gray"></i>
{{- end}}<span class=ph1>|</span>{{if .PrevInSection -}}
	<a href={{.PrevInSection.Permalink}} title="{{.PrevInSection.Title}}"><i class="far fa-hand-point-right"></i></a>{{else}}<i class="far fa-hand-rock light-gray"></i>
{{- end}}
</div>
