<!-- left & right hand for prev & next article in this sesction -->
<div class=prevnext>
	{{ $prev := resources.Get "svg/hand-left.svg"  }}{{ $next := resources.Get "svg/hand-right.svg"  }}
	{{with .NextInSection }}
	<a rel=prev title="{{.Title}}" href={{.RelPermalink}}>{{ $prev.Content | safeHTML}}</a>{{else}}<span class="icongray">{{ $prev.Content | safeHTML}}</span>{{end}}<span class=ph1>|</span>
	{{with .PrevInSection }}
	<a rel=next title="{{.Title}}" href={{.RelPermalink}}>{{ $next.Content | safeHTML}}</a>{{else}}<span class="icongray">{{ $next.Content | safeHTML}}</span>{{end}}
</div>
