{{- /* Constants. */}}
{{- $validLevels := slice "low" "medium" "quartile" "high" }}
{{- $minimumScale := 2 }}

{{- /* Get arguments. */}}
{{- $text := .RelPermalink -}}
{{- $level := "medium" }}
{{- $scale := 4 }}
{{- $targetDir := "/img/qr" }}
{{- $alt := "URL" }}
{{- $class := "pa1 print no-break qrcode" }}
{{- $id := "qr" }}
{{- $title := "url qr" }}

{{- /* Validate arguments. */}}
{{- $errors := false}}
{{- if not $text }}
{{- errorf "The %q shortcode requires a %q argument. See %s" .Name "text" .Position }}
{{- $errors = true }}
{{- end }}
{{- if not (in $validLevels $level) }}
{{- errorf "The %q argument passed to the %q shortcode must be one of %s. See %s" "level" .Name (delimit $validLevels ", " ", or ") .Position }}
{{- $errors = true }}
{{- end }}
{{- if or (lt $scale $minimumScale) (ne $scale (int $scale)) }}
{{- errorf "The %q argument passed to the %q shortcode must be an integer greater than or equal to %d. See %s" "scale" .Name $minimumScale .Position }}
{{- $errors = true }}
{{- end }}

{{- /* Render image. */}}
{{- if not $errors }}
{{- $opts := dict "level" $level "scale" $scale "targetDir" $targetDir }}
{{- with images.QR $text $opts -}}
<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
     {{- with $alt }} alt="{{ $alt }}" {{- end }}
     {{- with $class }} class="{{ $class }}" {{- end }}
     {{- with $id }} id="{{ $id }}" {{- end }}
     {{- with $title }} title="{{ $title }}" {{- end -}}>
{{- end }}
{{- end -}}