  <!-- MathJax -->
  {{ if .Page.Store.Get "hasMathjax" }}
  <link rel=dns-prefetch href=//cdn.jsdelivr.net />
  <link rel=dns-prefetch href=//polyfill.io />
  <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script nonce="1GLUsm9YWAxGNd1eEJGM">
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['$$', '$$']],
        digits: /^(?:[0-9]+(?:\{,\}[0-9]*)?|\{,\}[0-9]+)/,
        tags: 'ams'
      },
      svg: {
        fontCache: 'global',
        internalSpeechTitles: false
      }
    };
  </script>
  {{ end }}
  {{ if .Page.Store.Get "hasMermaid" }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script nonce="1GLUsm9YWAxGNd1eEJGM">
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}

