<div class="b no-print w-100">
{{ range site.Menus.main -}}
	{{ $.Scratch.Set .Identifier .Name }}
{{- end}}
{{ $.Scratch.Set "Intern" "Internes"}}

{{if (ne .Type "menu") -}}

	{{if not .IsHome }}
		<a href="/" title="{{ $.Scratch.Get "home" }}"><i class="fas fa-home fa-fw"></i></a>
	{{end}}

	<span class=nowrap>
		{{ if isset .Params "categories" -}}
		  {{ range $index, $name := sort .Params.categories -}}
			{{ with site.GetPage (printf "/%s" ($name | urlize )) -}} 
				<a class=ph1 href="{{ .RelPermalink }}" title="Bereich: {{ .Name | markdownify}}">{{ .Name | markdownify}}</a> 
			{{- end}}
		  {{- end}}
		{{- end }}
	</span>

	{{if isset .Params "tags"}}
		<span class=nowrap>
		<a href=/tags title=Index><i class="fas fa-tag fa-fw"></i></a>
		{{ range (.GetTerms "tags") }}
			<a class=ph1 href={{ .Permalink }} title="Index: {{ .LinkTitle }}">{{ .LinkTitle }}</a>
		{{ end}}
		</span>
	{{end}}
	  
	{{if isset .Params "series"}}
	{{ $serLen := len .Params.series }}{{if gt $serLen 0}}
		<span class=nowrap><a href=/series title=Serien><i class="fas fa-book fa-fw"></i></a>
			{{ range (.GetTerms "series") }}
				<a class=ph1 href={{ .Permalink }} title="Index: {{ .LinkTitle }}">{{ .LinkTitle }}</a>
			{{- end}}
		</span>
	{{end}}{{end}}
{{- end}}
</div>
