{{ define "main" }}
<titel>
    <h1><i class="fas fa-exclamation-triangle"></i></i>&nbsp;&nbsp;Sackgasse!</h1>
</titel>
<article>
    <h2><i class="fas fa-bug"></i></i>&nbsp;&nbsp;Woran hat's gelegen?</h2>
	<br/>
    <ul style="list-style-type:none;">
    <li><i class="fas fa-keyboard"></i>&nbsp;&nbsp;eine falsche Adresse (URL) wurd eingegeben</li>
    <li><i class="fas fa-unlink"></i>&nbsp;&nbsp;ein Link auf den Seiten ist nicht korrekt</li>
    <li><i class="fas fa-trash"></i>&nbsp;&nbsp;der Inhalt wurde gel&ouml;scht</li>
	<li><i class="fas fa-globe-europe"></i>&nbsp;&nbsp;der Inhalt ist auf Ihrem Planeten nicht verfügbar&nbsp;<i class="fas fa-smile-wink"></i></li>
    </ul>
	<a href="{{ .Site.BaseURL }}" ><img src="/img/404.png" alt="404" /></a>{{ $HomeMenu := index (where .Site.Menus.main "Identifier" "home" ) 0 }}
    <p>Einfach nochmal auf der <a href="{{ $HomeMenu.URL }}">{{ $HomeMenu.Name }}&nbsp;&nbsp;<i class="fas fa-home"></i></a>&nbsp;&nbsp;beginnen.</p>
</article>
{{ end }}
