{{ define "main" }}
{{ $half := div .Site.Params.pagination.PagesPerListHome 2}} <!-- small screens --> 
<header>
	<h1>{{ .Site.Params.Title | markdownify }}&nbsp; <i class="fas fa-dragon fa-fw"></i></h1>
	<div class="f5 b w-90-ns">{{.Title}}</div>
</header>
<section class="pb3">
	<div>
		{{ $posts := site.GetPage "/post" }}
		{{ with $posts -}}
			<h2 class="f4 b tc white bg-blue pv1"><a class="white" href={{.RelPermalink}}>Beiträge</a></h2>
		{{- end }} 
		{{ range $index, $element := first site.Params.pagination.PagesPerListHome $posts.Pages -}}
			<div {{if (ge $index $half)}}class="dn di-l"{{end}}>
				{{.Render "summary"}}
			</div>
		{{- end }}
	</div>

	<div>
		{{ $photos := site.GetPage "/photo" }}
		{{ with $photos -}}
			<h2 class="f4 b tc white bg-blue pv1"><a class="white" href={{.RelPermalink}}>Fotos</a></h2>
		{{- end }}
		{{ range $index, $element := first site.Params.pagination.PagesPerListHome $photos.Pages -}}
			<div {{if (ge $index $half)}}class="dn di-l"{{end}}>
				{{.Render "summary"}}
			</div>
		{{- end }}
	</div>
</section>
{{ end }}
