{{ define "main" }}
{{ $half := div .Site.Params.pagination.PagesPerListHome 2}}
<header>
	<h1 class="tc f3 f2-ns"><i class="fas fa-dragon fa-fw"></i>&nbsp; {{ .Site.Params.Title | markdownify }}</h1>
</header>
<section class="bb bw2 b--blue pb4">
	<div class=pb2>
		{{ with .Site.GetPage "/post/_index.md" -}}
			<h2 class="f4 b white bg-blue pv1 ph2"><a class="white" href={{.RelPermalink}}>Beiträge</a></h2>
		{{- end }} 
		{{ range $index, $element := first site.Params.pagination.PagesPerListHome (where site.RegularPages "Section" "eq" "post") -}}
			<div {{if (ge $index $half)}}class="dn di-l"{{end}}>
				{{.Render "summary"}}
			</div>
		{{- end }}
	</div>

	<div class=pb2>
		{{ with .Site.GetPage "/photo/_index.md" -}}
			<h2 class="f4 b white bg-blue pv1 ph2"><a class="white" href={{.RelPermalink}}>Fotos</a></h2>
		{{- end }}
		{{ range $index, $element := first site.Params.pagination.PagesPerListHome (where site.RegularPages "Section" "eq" "photo") -}}
			<div {{if (ge $index $half)}}class="dn di-l"{{end}}>
				{{.Render "summary"}}
			</div>
		{{- end }}
	</div>
</section>
{{ end }}
