{{ define "main" }}
{{ $half := div .Site.Params.pagination.PagesPerListHome 2}} <!-- small screens --> 
<header>
	<h1>{{ .Site.Params.Title | markdownify }}&nbsp; <i class="fas fa-dragon fa-fw"></i></h1>
	<div class="f5 b w-90-ns">{{.Title}}</div>
</header>
<article class=pb3>
	<div class="fl-l w-50-l ph2-l">
		{{ $posts := site.GetPage "/post" }}
		<h2 class="f4 b tc bg-blue pv1"><a class="white" href={{$posts.RelPermalink}}>Beiträge</a></h2>
		<div class=flex>
			<div class="di-l w-50-l">
			{{ range $index, $element := first site.Params.pagination.PagesPerListHome $posts.Pages -}}
			{{ if (eq $index $half)}}</div><div class="dn di-l w-50-l">{{end}} <!-- skip column -->
			<div>{{.Render "summary"}}</div>
			{{- end }}
			</div>
		</div>
	</div>

	<div class="fl-l w-50-l ph2-l">
		{{ $photos := site.GetPage "/photo" }}
		<h2 class="f4 b tc bg-blue pv1"><a class="white" href={{$photos.RelPermalink}}>Fotos</a></h2>
		<div class=flex>
			<div class=w-50-l>
			{{ range $index, $element := first site.Params.pagination.PagesPerListHome $photos.Pages -}}
			{{ if (eq $index $half)}}</div><div class="dn di-l w-50-l">{{end}}<!-- skip column -->
			<div>{{.Render "summary"}}</div>
			{{- end }}
			</div>
		</div>
	</div>
</article>
{{ end }}
