{{ define "main" }}
<header>
<h1><span class="dn di-l w-90-ns">{{ site.Title  | markdownify }}</span><i class="ph3 fas fa-dragon fa-fw"></i>{{ .Page.Title }}</h1>
{{ with .Title }}<div class="f5 b">alle Beiträge zu<span class="pl2 ttu">&quot;{{ . }}&quot;</span></div>{{end}}
</header>	
<article class=pv2>
<h2 class=dn>{{ .Page.Title }}</h2>
<div class=liste>
	{{ $paginator := .Paginate .Data.Pages 40}} 
	{{ range $paginator.Pages -}}
		{{ .Render "summary" }}
	{{- end }}
</div>
{{ partial "pagination" . }}
</article>
{{ end }}