{{ $path     := .Get "path" }}
{{ $filepath := printf "assets/etc/%s" $path }}
{{ $files    := readDir $filepath }}
{{ $ext := default "-" (.Get "type" )}}
{{ if (fileExists $filepath)}}
<ul class="db db-ns list pl0 w-80">
<li class="dib w-100 bb b"><span class="fl tr w-10 pr2">Date</span><span class="fl tr w-20">Bytes&nbsp;&nbsp;</span><span class="fl w-auto">Dateiname</span>
{{ range $files }}
	{{ if (and (ne (substr .Name 0 1) "_") (not .IsDir)) }}
		{{ $f := resources.Get (printf "/etc/%s/%s" $path .Name)}}{{ $e := findRE "\\w+$" .Name }}
		{{ if (or ( eq $ext "-") (in $e $ext) )}}
			<li class="dib w-100"><span class="fl tr w-10 pr2">{{ .ModTime.Format $.Site.Params.dateFormatShort }}</span><span class="fl tr w-20 pr2">{{ .Size }}&nbsp;&nbsp;</span><span class="fl w-auto"><a href="{{$f.Permalink }}" type="text/plain" download>{{ .Name }}</a></span></li>
		{{end}}
	{{end}}
{{ end }}
</ul>
{{end}}
