{{ define "main" }}
<header>
    <h1><span class="dn di-l">{{ site.Title | markdownify }}</span><i class="ph3 fas fa-dragon fa-fw"></i>{{ .Page.Title | markdownify }}</h1>
    {{ partial "single-head" . }}
</header>
<article>
    {{ with .Content}}{{ . }}{{end}} {{ $ms := site.Params.Images.maxSize | default 1024}}
    <div class=gallery>
    {{range .Resources.Match "gallery/*" -}}{{$alt := .Name}}{{ $image := .Fit "480x320 jpg #ffffff q75" }}{{ $preview := .Fit "33x22 jpg #ffffff q50" }} {{ $title := ""}}
    {{ $mx := .Fit (print $ms "x" $ms ) }} 
        <a data-fancybox="gallery" href={{$mx.RelPermalink}} class=fotocontainer >
            <figure class=ma3>
                <img loading=lazy class=foto src={{ $image.RelPermalink }}  alt="{{ $alt }}" title="{{$title}}"
                max-width={{ $image.Width }} max-height={{ $image.Height }} data-width={{$mx.Width}} data-height={{$mx.Height}}
                style="background: url(data:image/jpeg;base64,{{ $preview.Content | base64Encode  }}); background-size:100% 100%;" />
            </figure>
        </a>
    {{- end }}
    </div>
	
<script id="rendered-js">
$('[data-fancybox="gallery"]').fancybox({
 // see http://fancyapps.com/fancybox/3/docs/#options
  lang: "de",
  loop: true,
  buttons: [ "zoom", "fullScreen", "thumbs", "close" ],
  protect: true });
</script>	
{{ partial "prevnext" .}}   
</article>
{{ end }}


