{{ define "main" }}
<header>
	<h1><span class="dn di-l">{{ site.Title | markdownify }} &nbsp;</span><i class="fas fa-dragon fa-fw"></i>&nbsp;&nbsp;{{ .Page.Title | markdownify }}</h1>
	{{ partial "single-head" . }}
</header>
<article>
	{{ with .Content}}{{ . }}{{end}}
	<div class="flex flex-wrap  gallery">
	{{range .Resources.Match "gallery/*" -}}{{$alt := .Name}}{{ $image := .Fit "480x320 jpg #ffffff q75" }}{{ $preview := .Fit "33x22 jpg #ffffff q50" }} {{ $title := ""}}
		<a data-fancybox="gallery" href={{.RelPermalink}}><figure><img 
			loading=lazy class=foto src={{ $image.RelPermalink }} 
			max-width={{ $image.Width }} max-height={{ $image.Height }} alt="{{ $alt }}" title="{{$title}}"
			style="background: url(data:image/jpeg;base64,{{ $preview.Content | base64Encode  }}); background-size:100% 100%;" /></figure></a>
	{{- end }}
	</div>
{{ partial "prevnext" .}}	
</article>
{{ end }}


