{{ define "main" }}
<header>
	<h1><span>{{site.Title  | markdownify }}</span><i class="ph3 fas fa-dragon fa-fw"></i>{{ .Title }}</h1>
	{{ with .Title }}
		<div class="f5 b">alle Beiträge zu<span class="pl2 ttu">&quot;{{ . }}&quot;</span></div>
	{{end}}
</header>
<article>
	{{ $s := "" }}<div>
	{{ range sort .Data.Pages "FirstSection.Name"  -}}
		{{ if ne $s .FirstSection.Name }}
			{{ $s = .FirstSection.Name }}
			</div><h2>{{ $s }}</h2><hr />
			<div class=liste>
		{{ end }}
		{{ .Render "summary" }}
	{{- end }}
	</div>
</article>
{{ end }}
{{ end }}