{{ define "main" }}
<header>
	{{ $paginator := .Paginate .Data.Pages 40}}
	<h1><span>{{site.Title  | markdownify }}</span><i class="ph3 fas fa-dragon fa-fw"></i>Index für &laquo;{{ .Title }}&raquo;  #{{ $paginator.PageNumber }}</h1>
	{{ with .Title }}
	<div class="f5 b pb1">all articles for<span class="pl2 ttu">&quot;{{ . }}&quot;  #{{ $paginator.PageNumber }}</span></div>
	{{end}}
</header>
<article>
	<h2 class=dn>{{ .Title }}</h2>
	<div class=liste>
		
		{{ range $paginator.Pages -}}
			{{ .Render "summary" }}
		{{- end }}
	</div>
	{{ partial "pagination.html" . }}
</article>
{{ end }}