{{ define "main" }}
<header>
	<h1><span>{{site.Title  | markdownify }}</span><i class="ph3 fas fa-dragon fa-fw"></i>{{ .Title }}</h1>
	{{ with .Title }}
		<div class="f5 b pb1">alle Beiträge zu<span class="pl2 ttu">&quot;{{ . }}&quot;</span></div>
	{{end}}
</header>
<article>
	<h2 class=dn>{{ .Title }}</h2>
	<div class=liste>
		{{ $paginator := .Paginate .Data.Pages 40}} 
		{{ range $paginator.Pages -}}
			{{ .Render "summary" }}
		{{- end }}
	</div>
	{{ partial "pagination" . }}
</article>
{{ end }}