{{ define "main" }}
<header>
	{{ $dragon := resources.Get "svg/dragon.svg"  }}
	<h1>{{ .RenderString site.Title }} {{ $dragon.Content | safeHTML }} {{ .Page.Title }}</h1>
	<div class="b pb1">{{ .Description }}</div>
</header>
<article>
	<h2 class=dn>{{ .Title }}</h2>
	<div class="dib f5 pt2 lh-copy">
		{{range .Site.Taxonomies.tags -}} 
			<div class="fl ph2 pv1 ma1 b tagbutton" role=button>
				<a href={{ .Page.RelPermalink }} rel=nofollow >{{.Page.Title}}</a>&nbsp;<sup class=b>{{.Count}}</sup>
			</div>
		{{- end}}
	</div>
</article>
{{ end }} 
