{{ $image  := .Page.Resources.GetMatch (printf "%s" (.Get "src" | safeURL)) }}
{{ if $image -}}
{{ $iw := $image.Width }}{{ $ih := $image.Height }}{{ $ms   := site.Params.Images.maxSize | default 1024 }}
{{ if or (ge $iw $ms) (ge $ih $ms) }}{{ $image = $image.Fit (print $ms "x" $ms) }}{{end}}
{{ $srcset := slice }}{{ range site.Params.Images.setSizes -}}
  {{ if lt (mul . 1.2) $iw }}{{ $thumb := $image.Fit (print  . "x" .) }}{{ $srcset = $srcset | append (printf ("%s %dw") $thumb.RelPermalink . ) }}{{ end }}
{{- end }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "link" -}}<a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>{{- end }}
    <img src="{{ $image.RelPermalink }}"
		 {{ if gt (len $srcset) 0 }}{{ $sl := delimit $srcset ", "}}srcset="{{$sl}}" {{ end }}	
         {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"{{ end }}
         {{ with .Get "width" }} width="{{ . }}"{{ end }}
         {{ with .Get "height" }} height="{{ . }}"{{ end }}/> 
    {{ if .Get "link" }}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>{{ with (.Get "title") }}{{ . }}{{ end }}
            {{ if or (.Get "caption") (.Get "attr") -}}<p>{{ .Get "caption" | markdownify }}{{ with .Get "attrlink" }}<a href="{{ . }}">{{end}}{{.Get "attr" | markdownify}}{{if .Get "attrlink"}}</a>{{- end}}</p>{{- end }}
        </figcaption>
    {{- end }}
</figure>
{{- else -}}
  {{- warnf "Unable to find '%s' -- ensure image exists alongside document in page bundle" .Destination -}}
{{- end}}
