{{ $scratch := newScratch }}
{{ with .Get 0 }}
	{{ $scratch.Set "latitude" .}}
{{ else }}
	{{ errorf "missing value for 1st param 'name': %s" .Position }}
{{ end }}
{{ with .Get 1 }}
	{{ $scratch.Set "longitude" .}}
{{ else }}
	{{ errorf "missing value for 2nd param 'name': %s" .Position }}
{{ end }}
{{ $tmp := default "14" (.Get 2) }}{{ $scale := int $tmp }}
<a class="dib ph1"  target=_blank title="Karte anzeigen" href="https://www.openstreetmap.org/#map={{$scale}}/{{float ($scratch.Get "latitude")}}/{{float ($scratch.Get "longitude")}}"><i class="far fa-map"></i></a>

