{{- $id    := .Get 0 -}}
{{- $title := .Get 1 | default "YouTube Video" -}}
{{ $path := $.Page.File.Path }}
<div class="no-print  mw7-ns">
	<div class="mv2 videoWrapper"
			 {{ $src :=  printf "https://img.youtube.com/vi/%s/mqdefault.jpg" $id }}
			 {{- $bg := resources.GetRemote $src -}}
			 {{ with $bg }}
			 {{ $url := urls.Parse $bg }} {{ $path := printf "img/ext/youtube/%s"  $url.Path }} {{ $bg := $bg.Content | resources.FromString $path }}
			 {{ $h := div .Height 2}} {{ $w := div .Width 2}}
			 {{ $bgs := $bg.Fit (printf "%dx%d" $h $w)}}
			 style="background:url(data:image/jpeg;base64,{{ $bgs.Content | base64Encode}}); background-size: cover;background-repeat: no-repeat; aspect-ratio='{{ .Width }}/{{ .Height }}'"
			 {{else}}
			 style="background:url(https://img.youtube.com/vi/{{$id}}/mqdefault.jpg); background-size: cover;background-repeat: no-repeat"
			 {{ warnf "Failed to load Youtube preview %s %q" $id $path  }}
			 {{ end}}>
		<iframe loading=lazy defer class="bn w-100 h-100 absolute"
						name={{$id}} title="{{ $title }}"
						src="https://www.youtube.com/embed/{{$id}}"
						referrerpolicy=no-referrer frameborder="0"
						allow="fullscreen; accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture; gyroscope"></iframe>  <!-- https://www.w3.org/TR/permissions-policy-1/#iframe-allow-attribute -->
	</div>
</div>
<div class=pv2>
	<a class="mb3 i f6" href="https://www.youtube.com/watch?v={{$id}}&ucbcb=1">» {{ $title }} «</a>
</div>


