<div class=no-print>
<div class="pa2 mt2 videoWrapper">
<iframe loading=lazy  width=854 height=480 src="https://www.youtube.com/embed/{{ index .Params 0 }}?html5=1" frameborder="0" allowfullscreen></iframe><br/><br/>
</div><br/>
... oder gleich auf <a class=ph2 href="https://www.youtube.com/watch?v={{ index .Params 0 }}" target=_blank rel=noopener type="video/mp4">Youtube<i class="fab fa-youtube pl2" title=youtube></i></a>ansehen.
</div>
<div class="dn print">
<a class=b href="https://www.youtube.com/watch?v={{ index .Params 0 }}">Video auf Youtube</a>
</div>