@charset "utf-8";
* {
	display: block;
}

generator, author, id, updated {
	display: none;
}

feed {
	color: #606060;
	font-family: Helvetica, "sans-serif";
	font-display: fallback;
	margin-left: 36px;
}

feed > icon, logo, published, generator, updated {
	display: none;
}


feed > title {
	padding-top: 1em;
	font-size: 2em;
	font-weight: bold;
	border-bottom: 2px solid;
}

feed > subtitle {
	padding-top: 1em;
	font-size: 1em;
}

feed > rights {
	font-size: 1em;
	margin-bottom: 1em;
}


feed > entry {
	padding-top: 1em;
	border-top: 1px solid;
	color: #202020;
	margin-left: 0;
}

feed > entry > category, link, published, id, content {
	display: none;
}

feed > entry > title {
	margin-bottom: 0.2em;
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: underline;
}

feed > entry > updated {
	color: #606060;
	font-size: 1em;
}

feed > entry > summary {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}
