@charset "utf-8";

* {
  display: block;
}

generator, author, id {
  display: none;
}

feed {
  color: #606060;
  font-display: fallback;
  font-family: Helvetica, sans-serif;
  margin-left: 36px;
}

  feed > icon, logo, published, generator, updated {
    display: none;
  }

  feed > entry {
    border-top: 1px solid;
    color: #202020;
    margin-left: 0;
    padding-top: 1em;
  }

    feed > entry > category, link, id, content {
      display: none;
    }

    feed > entry > title {
      font-size: 1.25em;
      font-weight: bold;
      margin-bottom: 0.2em;
      text-decoration: underline;
    }

    feed > entry > updated {
      color: #606060;
      display: block;
      font-size: 1em;
    }

    feed > entry > summary {
      font-size: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
    }

  feed > title {
    border-bottom: 2px solid;
    font-size: 2em;
    font-weight: bold;
    padding-top: 1em;
  }

  feed > rights {
    font-size: 1em;
    margin-bottom: 1em;
  }

  feed > subtitle {
    font-size: 1em;
    padding-top: 1em;
  }
