@media (prefers-color-scheme: light) {

  :root {
    /* alphabetical */
    --anchor-color: rgb(173, 216, 230);
    --background-color: rgb(255, 255, 255, 0.5);
    --background-menu: rgba(255, 250, 250, 1);
    --box-background-color: rgb(255, 253, 213);
    --box-border: rgb(190, 190, 190);
    --box-shadow: rgba(0, 0, 0, 0.5);
    --box-shadow-color: rgb(117, 117, 117);
    --caption-color: rgb(72, 61, 139);
    --hr-color: rgba(64,64,64,0.8);
    --image-filter: none;
    --link-color: rgb(0, 0, 139);
    --link-hover: rgb(30, 129, 176);
    --progress-bar: rgb(0, 255, 0);
    --progress-background: rgb(255, 250, 250);
    --scrollbar-color-thumb: rgb(180, 180, 180);
    --scrollbar-color-track: rgb(230, 230, 230);
    --text-color: rgb(0, 0, 0);
    --th-background: rgb(208, 240, 240);
    --tr-odd-background: rgb(255, 255, 255);
    --tr-even-background: rgb(232, 248, 248);
    --bgms: url("/img/wave-ms.jpg");
    --bgls: url("/img/wave-ls.jpg");
    --chroma-comment: rgb(0,128,0);
    --chroma-keyword: rgb(143,8,196);
    --chroma-types: rgb(43,145,175);
    --chroma-string: rgb(0,0,255);
    --chroma-bg-hline: rgb(255, 238, 98); /* current statement */
    --chroma-line-number: #55b8db;
    --chroma-class-name: rgb(43,145,175);
    --chroma-element-name: rgb(128,0,0);
    --chroma-attr-name: rgb(255,0,0);
  }
}
