@charset "utf-8";

:root { /* alphabetical */
  --anchor-color: LightBlue;
  --background-color: GhostWhite;
  --background-menu: Snow;
  --bgms: url("/img/wave-ms.jpg");
  --bgls: url("/img/wave-ls.jpg");
  --box-background-color: #fffdd5;
  --box-border: Gray;
  --box-shadow-color: #757575;
  --caption-color: DarkSlateBlue;
  --link-color: DarkBlue;
  --link-hover: #1e81b0;
  --progress-bar: Green;
  --progress-background: Snow;
  --shadow-opacity: rgba(0,0,0,0.5);
  --text-color: Black;
  --th-background: #d0f0f0;
  --tr-odd-background: White;
  --tr-even-background: #e8f8f8;
}
