@charset "utf-8";
/* special styles */
body {
  color: black;
  font-family: "avenir next", avenir, "sans-serif";
  background-color: #eee;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-left: .5rem; 
  padding-right: .5rem; 
}

h1 {
  text-shadow: 0px 10px 10px #234D3C;
  font-family: georgia, athelas, serif;
  white-space: pre-wrap;
}

a {
  color: #00449e;
}

  a:hover {
    color: #ff4136;
  }

  a:focus {
    color: #ff4136;
  }

ul {
    display: block;
	margin: 0.8em 0 0 0;
	/*
    margin-block-start: 0.8em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
}

ol {
    display: block;
	margin: 0;
	padding-left: 1em;
	list-style-type: none; 
}


textarea {
  resize: vertical;
}

figure {
	display: inline;
	margin: 0;
	padding: 0;
}

img {
  page-break-inside: avoid;
}

/* menu */

/* https://w3bits.com/css-dropdown-menu/ */

.hamburg {
    float: right;
    overflow: hidden;	
	width: 100%;
	height: 100%;
	padding: .5rem;
	background-color: transparent;
	font-weight: bolder;
	transition: visibility .5s, opacity .5s ease-in-out;
}

.menu {
	display: none;
	list-style-type: none;
	position: absolute;
		top:   16px; 
		right: 16px;	
    padding: 4px 8px;
    z-index: 1;	

    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);		
	float: none;
	
	a {  
      display: flex;
	  padding:  1px;
      justify-content: space-between;	
	}
}

.menu .menu-item {
	display: block; 
	border: 0 solid;
	}	


.hamburg:hover i{
	display: none;
}

/* touch */
.hamburg:visited .menu {
  display: block;
}

.hamburg:hover .menu {
  display: block;
}

.hamburg .menu:hover {
  display: block;
}





/* Foto */

.foto {
	margin: .25rem;
	box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, 0.5 );
}

.foto:hover {
	box-shadow: 2px 2px 4px 2px #00449e;
}


.videoWrapper { 
  position: relative; 
  padding-bottom: 56.25%; /* 16:9 */ 
  height: 0; 
} 
.videoWrapper iframe { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

/* Index */

.tagbutton {
  text-align: center;
  white-space: nowrap;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px #909090;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

  .tagbutton:hover {
    background-color: #fffdd5;
    border-width: 1px;
	box-shadow: 2px 2px 2px #757575;
  }

  .tagbutton:active {
    background-color: #fffdd5;
	box-shadow: 2px 2px 2px #757575;
  }

/* table styles */
table {
  border-collapse: collapse;
}

  table th {
    color: white;
    padding: 0.5em 0.5em 0.25em 0.5em;
    background-color: rgb(96,96,96);
  }

  table td {
    border: solid 1px;
    padding: 0.5em 0.5em;
  }

  tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.thead {
	border-collapse: collapse;
    border-spacing: 0;
	padding: 0.2em;
}

.thead td {
    border: 0px;
    padding: 0 0.2em;
  }
  
.thead tbody tr:nth-child(odd) {
    background-color: transparent;
}
  

.w500 {
  min-width: 500px;
}

.vcard :hover {
  transform: rotate(90deg);
}

.print, .print * {
  display: none !important;
}

/* grids */

.site {
  height: 100vh;
  padding-left: .5rem; 
  padding-right: .5rem; 
  display: grid;
      columns: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "aa nn" "hh hh" "mm mm" "ft ft";
  column-gap: 10px;
}

@supports (display:grid) {
  aside {
    grid-area: aa;
  }

  nav {
    grid-area: nn;
  }
}

@supports not (display:grid) {
  aside {
    columns: 2;
  }

  nav {
    columns: 4;
  }
}

header {
  grid-area: hh;
  height: auto;
  }


footer {
  grid-area: ft;
}

article {
  grid-area: mm;
}

section {
  grid-area: mm;
}

.liste {
  column-width: auto;
  column-rule: thin solid blue;
}

/* -ns */
@media screen and (min-width: 30em) {
	
  header {
    height: 150px;
  }
	
}

/* -m */
@media screen and (min-width: 30em) and (max-width: 60em) {
  body {
    background-image: url("/img/wave-ms.jpg");
    background-size: cover;	
  }

  .site {
    grid-template-columns: 220px 1fr 1fr;
    grid-template-areas: "aa hh hh" "nn mm mm" ". ft ft";
  }

  aside {
    display: grid;
  }
}

/* -l */
@media screen and (min-width: 60em) {
  body {
    background-image: url("/img/wave-ls.jpg");
	background-size: cover;
  }

  .site {
    grid-template-columns: 220px 1fr 1fr 1fr;
    grid-template-areas: "aa hh hh hh" "nn mm mm mm" ". ft ft ft";
  }

  aside {
    display: grid;
  }

  section {
    display: grid;
    grid-area: mm;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
  }

  .liste {
    column-count: 3;
  }
}

@media screen and (min-width: 50em) {
  .liste {
    column-count: 2;
  }
}

@media screen and (min-width: 75em) {
  .liste {
    column-count: 3;
  }
}

@media screen and (min-width: 100em) {

  .liste {
    column-count: 4;
  }
}

@media screen and (min-width: 125em) {

  .liste {
    column-count: 5;
  }
}
