@charset "utf-8";

:root {
  --fonts: Baskerville, Georgia, Athelas, System Serif;
  --fontmono: Consolas, Courier New, monospace;
  --gap: 0.5rem;
  --hamburger: 45px;
  --menu-width: 180px;
  color-scheme: light dark;
}

html {
  overscroll-behavior-y: contain;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

/* special styles */

body {
  background-color: var(--background-color);
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--fonts);
  padding-left: var(--gap);
  padding-right: var(--gap);
  gap: var(--gap);
  columns: 2;
  display: grid;
  min-height: 100%;
  grid-auto-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "aa nn" "hh hh" "mm mm" "ft ft";
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.03em;
}

/* https://css-tricks.com/everything-you-need-to-know-about-the-gap-after-the-list-marker/ */

::marker {
  content: "â• ";
  color: var(--text-color);
}

/* 404 page */

.lnone {
  line-height: 2;
}

  .lnone li::marker {
    content: " ";
  }

  .lnone svg {
    fill: red;
  }

element:empty {
  display: none;
}

h1 {
  font-family: var(--fonts);
  margin-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
/*  font-size: clamp(2rem, 2rem + 1cqi, 3rem); */
}

.toc ::marker {
  content: "";
}

.toc ol {
  list-style-type: none;
  padding: 0 0 0 1em;
}

.toc > ol {
  padding-left: 0;
}

.toc-title {
  font-family: var(--fonts);
  font-size: 1.5em;
  font-weight: bold;
}


.f1 {
  font-size: clamp(2.5rem, 3rem + 1cqi, 3.5rem);
}

.f2 {
  font-size: clamp(2rem, 2.25rem + 1cqi, 2.5rem);
}

.f3 {
  font-size: clamp(1.5rem, 1.5rem + 1cqi, 2rem);
}

.f4 {
  font-size: clamp(1.2rem, 1.25rem + 1cqi, 1.5rem);
}

.f5 {
  font-size: clamp(.9rem, 1rem + 1cqi, 1.2rem);
}

.f6 {
  font-size: clamp(.8rem, .875rem + 1cqi, .9rem);
}

.f7 {
  font-size: clamp(.7rem, .75rem + 1cqi, .8rem);
}


nav {
  padding-right: var(--gap);
  z-index: 0;
  align-self: start;
  position: sticky;
  margin-top: .5rem;
  user-select: none;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--hr-color);
}

.anchor {
  position: relative;
  left: 0.1em;
  color: var(--anchor-color);
  font-size: small !important;
}

  .anchor svg {
    fill: var(--anchor-color);
    width: 1.4em;
  }

a {
  color: var(--link-color);
  text-decoration: none;
}

  a:hover {
    /*  color: var(--link-hover); */
    text-decoration: underline 0.08em;
    text-underline-offset: 2px;
  }

  a:focus {
    color: var(--link-color);
  }

  a svg {
    fill: var(--link-color);
  }

div svg {
  fill: var(--text-color);
}

.icon {
  width: 1em;
  height: 1em;
  user-select: none;
}

.iconred {
  fill: red;
  user-select: none;
}

.icongray {
  fill: lightgray;
  user-select: none;
}

.iconh1 {
  width: 2em;
  height: 1em;
  user-select: none;
}

.iconbar {
  width: 2em;
  height: 2em;
  user-select: none;
}

pre {
  overflow-x: auto;
  font: var(--fontmono);
  padding-bottom: 0.5em;
}

.highlight {
  max-width: 100%;
  overflow-x: auto;
}

/* Add scroll margin to all elements which can be targeted */

[id] {
  scroll-margin-top: 2ex;
}

/*   SCROLL BAR */

scrollbar, ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

scrollbar-track, ::-webkit-scrollbar-track {
  background-color: var(--scrollbar-color-track);
}


scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color-thumb);
  border-radius: 4px;
}

/*   PROGRESS BAR */

progress::-moz-progress-bar {
  background: var(--progress-bar);
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.7) inset;
}

progress::-webkit-progress-bar {
  background: var(--progress-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  background: var(--progress-bar);
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.7) inset;
}

progress {
  border: none;
  box-sizing: border-box;
  display: inline-block !important;
  height: 1em;
  width: 10em;
  vertical-align: -0.2em;
  background: var(--progress-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/*   METER BAR */

/*
meter::-webkit-meter-bar {
    background: none;
    background-color: var(--progress-background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    height: 1.1em;
    border-radius: 0;
}

meter::-moz-meter-bar {
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.7) inset;
}

meter {
    border: none;
    box-sizing: border-box;
    width: 10em;
    height: 1em;
    border: none;
    display: inline-block ! important;
    background: var(--progress-background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
*/

textarea {
  resize: vertical;
}

figure {
  margin: 0;
}

img {
  height: auto;
  border-style: none;
  outline: 0
}

  img:not([src*=".svg"]):hover {
    filter: var(--image-filter-hover);
  }

/* Menu */

#menuToggle {
  position: relative;
  z-index: 10;
}

  /* The hamburger button hidden inside an input element */

  #menuToggle input {
    background-color: var(--background-menu);
    width: var(--hamburger);
    height: var(--hamburger);
    cursor: pointer;
    opacity: 0;
    /* hide this */
    position: relative;
    text-align: right;
    top: 8px;
    z-index: 20;
    /* and place it over the hamburger */
  }

    /* 
 * Change the color of the hamburger when toggled
 */

    #menuToggle input:checked + label {
      background: var(--background-menu);
    }

  #menuToggle label {
    z-index: 30;
    color: var(--link-color);
    position: relative;
    left: var(--hamburger);
    width: var(--hamburger);
    height: var(--hamburger);
  }

    #menuToggle label:hover {
      color: var(--link-hover);
    }

  #menuToggle input:not(:checked) ~ div {
    display: none;
  }

  #menuToggle input:checked ~ div {
    background: var(--background-menu);
  }

#menu {
  position: absolute;
  padding: 10px;
  margin: 8px 0 0 0;
  list-style-type: none;
  opacity: 1;
  right: 0px;
  top: var(--hamburger);
  z-index: 100;
  border-style: solid;
  border-color: var(--box-border);
  border-width: 1px;
  box-shadow: 2px 2px 4px 2px var(--box-shadow);
  content-visibility: auto;
}

  #menu div a {
    z-index: 110;
    background-color: var(--background-menu);
  }

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: row dense;
  width: calc(100% + var(--gap));
  gap: calc(var(--gap) * 2);
  margin-top: calc(var(--gap) * 2);
}

.foto {
  box-shadow: 2px 2px 4px 2px var(--box-shadow);
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  vertical-align: bottom;
  object-fit: cover;


  &:hover {
    box-shadow: 2px 2px 4px 2px var(--link-hover);
    transition: all .2s linear;
  }
}
/* 
    missed in fancybox.css, taken from
    https://fancyapps.com/playground/vo
    */

a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__container {
  --fancybox-bg: rgba(0, 0, 0, .9);
}

  .fancybox__container .fancybox__content {
    /* Create white border around the image */
    box-sizing: content-box;
    padding: 0;
    background: #fff;
    border-radius: 6px;
    color: #374151;
    box-shadow: 0 8px 23px rgb(0 0 0 / 50%);
  }

.mermaid {
  width: 100%;
  height: auto;
  text-align: center;
}

.latex {
  display: block;
  text-align: center;
}

.fullpage {
  width: 100%;
  border: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  background-color: var(--background-color);
  background-image: none;
}

/* tube shortcode */

.videoWrapper {
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  position: relative;
  background-size: cover;
  box-shadow: 2px 2px 4px 2px var(--box-shadow);
  /* scroll-snap-align: start; */
}

  .videoWrapper:hover {
    box-shadow: 2px 2px 4px 2px var(--link-hover);
    transition: all .2s linear;
  }

/* Index */

.tagbutton {
  border-style: solid;
  border-color: var(--box-border);
  border-width: 1px;
  border-radius: 6px;
  box-shadow: inset 2px 2px 3px var(--box-shadow-color);
  cursor: pointer;
  text-align: center;
  will-change: auto;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  white-space: nowrap;
  z-index: 0;
  min-width: 50px;


  &:hover {
    background-color: var(--box-background-color);
    box-shadow: 2px 2px 2px var(--box-shadow-color);
  }

&:focus-within {
  background-color: var(--box-background-color);
  box-shadow: 2px 2px 2px var(--box-shadow-color);
  outline: none;
}


}

/* tag-button inside count */
.button_tally {
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--button_background_color);
  display: inline-flex;
  color: #fff;
  margin: 0.1rem 0 0.1rem 0.4rem;
  font-size: 0.7rem;
  color: var(--button_color);
}

/* table styles */

table {
  table-layout: fixed;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

thead {
  background-color: var(--th-background);
  text-decoration: none;
}

th, td {
  border: solid 1px;
  padding: 0.5em 0.5em 0.25em 0.5em;
  white-space: nowrap;
}

tbody tr:nth-child(even) {
  background-color: var(--tr-even-background);
}

tbody tr:nth-child(odd) {
  background-color: var(--tr-odd-background);
}

.w500 {
  min-width: 500px;
}

.print, .print *, .printsub, .printsub * {
  display: none !important;
}

/* grids */

header {
  grid-area: hh;
  height: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--hr-color);
  user-select: none;
}

.navhead {
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  padding-bottom: .25rem;
}


footer {
  grid-area: ft;
  border-color: var(--hr-color);
  height: 4rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  /* fixed at bottom
  position: fixed;   
  background-color: var(--background-color);

*/
  left: 0px;
  bottom: 0px;
  width: 100%;
  user-select: none;
}

aside, .prevnext {
  margin-top: 1rem;
  text-align: center;
  user-select: none;
}

.pagination {
  font-family: 'Courier Next', courier, monospace;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-left: 2rem;
  user-select: none;
}

.liste {
  column-rule: 1px solid var(--hr-color);
}

article {
  grid-area: mm;
  width: 100%;
  /* scroll-snap-align: start; */
}

.openseadragon {
  border: 1px solid black;
  background-color: black;
  color: #333;
  /* text color for messages */
  height: 600px;
  margin: 0;
  padding: 0;
  width: 800px;
}

  .openseadragon.front-page {
    height: 580px;
  }

blockquote {
  border-left: 10px solid #ccc;
  margin: 1em 10px 0 0;
  padding: .5em 3em 0 2em;
}

  blockquote figcaption {
    position: relative;
    margin: 1em 10px 0 0;
  }

:lang(de) > blockquote::before {
  content: "Zitat: ";
  font-weight: bolder;
}

:lang(en) > blockquote::before {
  content: "Quote: ";
  font-weight: bolder;
}


@supports (display:grid) {
  aside {
    grid-area: aa;
    place-items: center;
  }

  nav {
    grid-area: nn;
  }
}

@supports not (display:grid) {
  nav {
    columns: 4;
  }
}


@media screen and (min-width: 30em) {

  img:not([src*=".svg"]) {
    filter: var(--image-filter);
  }
}

/* -m */

@media screen and (min-width: 30em) and (max-width: 60em) {
  body {
    background-image: var(--bgms);
    /* https://css-tricks.com/you-want-minmax10px-1fr-not-1fr/ */
    grid-template-columns: auto repeat(2, minmax(10px, 1fr));
    grid-template-areas: "aa hh hh" "nn mm mm" "ft ft ft";
    padding-left: 2rem;
  }

  footer {
    height: 3rem;
  }
}

/* -l */

@media screen and (min-width: 60em) {
  body {
    background-image: var(--bgls);
    grid-template-columns: auto repeat(3, minmax(10px, 1fr));
    grid-template-areas: "aa hh hh hh" "nn mm mm mm" "ft ft ft ft";
    padding-left: 3rem;
  }

  .liste {
    column-count: 3;
  }

  footer {
    height: 2rem;
  }
}

@media screen and (min-width: 50em) {
  .liste {
    column-count: 2;
  }

  .mermaid {
    width: 45em;
  }
}

@media screen and (min-width: 75em) {
  .liste {
    column-count: 3;
  }

  .mermaid {
    width: 70em;
  }
}

@media screen and (min-width: 100em) {
  .liste {
    column-count: 5;
  }

  .mermaid {
    width: 90em;
  }
}

}

@media screen and (min-width: 125em) {
  .liste {
    column-count: 6;
  }

  .mermaid {
    width: 100em;
  }
}

/* styles to target touch devices - https://mskkai.hashnode.dev/css-solution-for-styling-touch-and-non-touch-devices */
@media (hover: none), (pointer: coarse) {
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
