@charset "utf-8";

/* load tachyons before! */

:root {
  --text-color: Black;
  --background-color: GhostWhite;
  --background-menu: Snow;
  --caption-color: DarkSlateBlue;
  --link-color: DarkBlue;
  --anchor-color: LightBlue;
  --hover-color: DarkSlateBlue;
  --h1-shadow-color: DimGray;
  --shadow-opacity: rgba(0,0,0,0.5);
  --box-border: Gray;
  --box-background-color: #fffdd5;
  --box-shadow-color: #757575;
  --th-background: #d0f0f0;
  --tr-odd-background: White;
  --tr-even-background: #e8f8f8;
  --fonts:  Baskerville, Georgia, Athelas, System Serif;
  --gap: 1rem;
  --menu-width: 180px;
  --hamburger: 45px;
}

/* special styles */
body {
  background-color: var(--background-color);
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--fonts);
  padding-left: .5rem;
  padding-right: .5rem;
  column-gap: var(--gap);
  columns: 2;
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "aa nn" "hh hh" "mm mm" "ft ft";
}

h1 {
  font-family: var(--fonts);
  white-space: pre-wrap;
}

.anchor {
  position: relative;
  left: 0.1em;
  color: var(--anchor-color);
  font-size: small !important;
}

a {
  color: var(--link-color);
  font-weight: bold;
}

  a:hover {
    color: var(--link-color);
  }

  a:focus {
    color: var(--link-color);
  }



ul {
  display: block;
  list-style: "★ ";
}

ol {
  display: block;
  list-style: "★ ";
}

li {
  line-height: 1.25;
}


textarea {
  resize: vertical;
}

figure {
  display: inline;
  margin: 0 auto;
  padding: 0;
}

figcaption {
  color: var(--caption-color);
  font-weight: bold;
  line-height: 1.15;
  margin: .5rem 0 1em 1rem;
}

img {
  page-break-inside: avoid;
}

/* Menu */
#menuToggle {
  position: relative;
  z-index: 1;
}
  /* The hamburger button hidden inside an input element */
  #menuToggle input {
    width: var(--hamburger);
    height: var(--hamburger);
    cursor: pointer;
    opacity: 0; /* hide this */
    position: relative;
    text-align: right;
    top: 8px;
    right: 8px;
    z-index: 2; /* and place it over the hamburger */
  }

    /* 
 * Change the color of the hamburger when toggled
 */
    #menuToggle input:checked + label {
      background: var(--background-menu);
    }

  #menuToggle label {
    z-index: 1;
    color: var(--link-color);
    position: relative;
    left: var(--hamburger);
    width: var(--hamburger);
    height: var(--hamburger);
  }

    #menuToggle label:hover {
      color: var(--hover-color);
    }

  #menuToggle input:not(:checked) ~ ul {
    display: none;
  }

  #menuToggle input:checked ~ ul {
    background: var(--background-menu);
  }

#menu {
  position: absolute;
  padding: 10px;
  margin: 8px 0 0 0;
  list-style-type: none;
  opacity: 100;
  right: 0px;
  top: var(--hamburger);
  z-index: 2;
  border-style: solid;
  border-color: var(--box-border);
  border-width: 1px;
  box-shadow: 2px 2px 4px 2px var(--shadow-opacity);
}

/* Foto */

.gallery {
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.foto {
  margin: var(--gap ) 0 0 var(--gap);
  box-shadow: 2px 2px 4px 2px var(--shadow-opacity);
}

  .foto:hover {
    box-shadow: 2px 2px 4px 2px var(--hover-color);
  }


.videoWrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

  .videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

/* Index */

.tagbutton {
  border-style: solid;
  border-color: var(--box-border);
  border-width: 1px;
  border-radius: 6px;
  box-shadow: inset 2px 2px 3px var(--box-shadow-color);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  white-space: nowrap;
}

  .tagbutton:hover {
    background-color: var(--box-background-color);
    border-width: 1px;
    box-shadow: 2px 2px 2px var(--box-shadow-color);
  }

  .tagbutton:active {
    background-color: var(--box-background-color);
    box-shadow: 2px 2px 2px var(--box-shadow-color);
  }

/* table styles */
table {
  border-collapse: collapse;
}

  table th {
    border: solid 1px;
    background-color: var(--th-background);
    padding: 0.5em 0.5em 0.25em 0.5em;
  }

  table td {
    border: solid 1px;
    padding: 0.5em 0.5em;
  }

tbody tr:nth-child(even) {
  background-color: var(--tr-even-background);
}

tbody tr:nth-child(odd) {
  background-color: var(--tr-odd-background);
}

.thead {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0.2em;
}

  .thead td {
    border: 0px;
    padding: 0 0.2em;
  }

  .thead tbody tr:nth-child(odd) {
    background-color: transparent;
  }


.w500 {
  min-width: 500px;
}

.print, .print * {
  display: none !important;
}

/* grids */

header {
  grid-area: hh;
  height: auto;
}


footer {
  grid-area: ft;
}

article {
  grid-area: mm;
  width: 100%;
}

@supports (display:grid) {

  aside {
    grid-area: aa;
    text-align: center;
  }

  nav {
    grid-area: nn;
  }
}

/* Chrome experimental!!
   This media query will apply if the User Agent has decided to enter
   "reduced-framerate" mode based on a combination of OS & user
   preferences, system state (such as limited battery availability),
   and the value of the aforementioned meta tag.

   https://github.com/chrishtr/battery-savings/blob/master/explainer.md
*/
   
@reduced-framerate {
* {
  animation: none !important; /* or change animations to use keyframes optimized for battery-savings */
}


@supports not (display:grid) {

  nav {
    columns: 4;
  }
}

.openseadragon {
  border: 1px solid black;
  background-color: black;
  color: #333; /* text color for messages */
  height: 600px;
  margin: 0;
  padding: 0;
  width: 800px;
}

  .openseadragon.front-page {
    height: 580px;
  }


/* -m */
@media screen and (min-width: 30em) and (max-width: 60em) {

  body {
    background-image: url("/img/wave-ms.jpg");
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "aa hh hh" "nn mm mm" "ft ft ft";
    padding-left: 2rem;
  }
}

/* -l */
@media screen and (min-width: 60em) {

  body {
    background-image: url("/img/wave-ls.jpg");
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-areas: "aa hh hh hh" "nn mm mm mm" "ft ft ft ft";
    padding-left: 3rem;
  }

  .liste {
    column-count: 3;
  }
}

@media screen and (min-width: 50em) {

  .liste {
    column-count: 2;
  }
}

@media screen and (min-width: 75em) {

  .liste {
    column-count: 3;
  }
}

@media screen and (min-width: 100em) {

  .liste {
    column-count: 5;
  }
}

@media screen and (min-width: 125em) {

  .liste {
    column-count: 6;
  }
}
