@charset "utf-8";

@page {
  size: auto;
  margin: 2cm;
  margin-left: 4cm;
}

@media print {
  body {
    background-color: transparent;
    color: #000;
    font-family: Helvetica, Avenir, System sans-serif;
    font-size: 12pt;
    line-height: 1.25;
    /* site */
    column-gap: 0;
    columns: 2;
    grid-template-columns: auto 148px;
    grid-template-rows: 148px auto;
    grid-template-areas: "hh qr" "mm mm" "ft ft";
  }

  h1 {
    text-shadow: none;
    width: calc(100% - 160px);
    white-space: break-spaces;
    overflow: unset;
  }

  h2, h3 {
    page-break-after: avoid;
    orphans: 4;
    widows: 4;
  }

  aside, nav, footer {
    display: none !important;
  }

  a {
    text-decoration-line: none;
  }

    a[href^=http]::after {
      content: ' < ' attr(href) ' > ';
      color: var(--text-color);
      text-decoration-line: none;
    }

  .anchor {
    display: none !important;
  }

  p, ul, pre, blockquote, foot {
    widows: 4;
    orphans: 4;
  }

  .no-break {
    page-break-inside: avoid;
    widows: 99;
    orphans: 99;
  }

  img, figure {
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
  }

  figcaption {
    font-weight: bold;
    line-height: 1.15;
    margin: .25rem;
  }

  ul {
    list-style: disc;
    widows: 6;
    orphans: 6;
  }

  ol {
    list-style: disc;
    widows: 6;
    orphans: 6;
  }

  li {
    line-height: 1.25;
  }

  table {
    page-break-inside: avoid;
    widows: 6;
    orphans: 6;
  }

  .qrcode {
    position: absolute;
    top: 0;
    right: 16px;
    z-index: 99;
  }

  .qrcode > img {
    image-rendering: pixelated;
    width: 128px;
  }

  aside, .no-print, .no-print * {
    display: none !important;
  }

  .print, .print * {
    display: block !important;
  }
}
