@charset "utf-8";
@media print {

  body {
    color: #000;
    font-family: georgia, athelas, serif;
    font-size: 12pt;
    background-color: transparent;
    padding: 0;
    margin: 1cm;
    margin-left: 2cm;
	line-height: 1.25; 
  }

  h1 {
    text-shadow: none;
  }

  h2, h3 {
    page-break-after: avoid;
    orphans: 4;
    widows: 4;
  }

  .site {
    grid-template-columns: auto 148px;
    grid-template-rows: 148px auto;
    grid-template-areas: "hh qr" "mm mm" "ft ft";
    column-gap: 0;
	columns: 2;
  }

  aside, nav, footer {
    display: none !important;
  }

  a {
    text-decoration-line: none;
  }

/*
#    a:not(local-link) ::after {
*/
    a[href^=http]::after {
      content: " < " attr(href) " >";
      color: #888;
      background-color: inherit;
      font-style: italic;
	  font-weight: normal;
      font-size: 80%;
    }

  p, ul, pre, blockquote, foot {
    display: block;
    widows: 3;
    orphans: 3;
  }

  figure, img, figure, .no-break {
    display: block;
    page-break-inside: avoid !important;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .print, .print * {
    display: inline !important;
  }
}
