<!DOCTYPE html>
{{ $lang := .Params.Language | default site.Language}}
<html lang={{ $lang }}>
{{ $section := .Section | default "home" }}
{{ partial "meta.html" . }}
<body>
  {{ partialCached "aside.html" . $section }}
  {{ partialCached "navigation.html" . $section}}
  {{ partial "initlinklist.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "printlinks.html" . }}
  {{ partial "qr.html" . }}
  {{ partial "footer.html" . }}
  {{ partial "sprites.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>