{{ define "main" }}
{{ "<!-- layouts/_default/list.html -->" | safeHTML }}
<header>
<h1><span class="dn di-l">{{site.Title  | markdownify }} &nbsp;</span><i class="fas fa-dragon fa-fw"></i>&nbsp;&nbsp;{{ .Page.Title }}</h1><hr/>
{{if isset .Params "description" }}
	<div class="f5 b">{{ .Description }}</div><hr/>
{{end}}
</header>
<article>
{{ $r1 := where .Data.Pages "ExpiryDate" ">=" now }}
{{ $r2 := where .Data.Pages (isset .Params "ExpiryDate") }}
{{ $paginator := .Paginate ( intersect $r1 $r2) }} 
{{ range $paginator.Pages -}}
	{{ .Render "summary" }}
{{- end }}
{{ partial "pagination" . }}
</article>
{{ end }}
