{{ define "main" }}
<header>
	{{ $pages := site.GetPage .Section }}	{{ $paginator := .Paginate $pages.Pages 20}}{{ $dragon := resources.Get "svg/dragon.svg"  }}
	<h1>{{ .RenderString site.Title }} {{ $dragon.Content | safeHTML }} {{ .Page.Title }}</h1>
	{{if isset .Params "description" }}<div class="f5 b w-90-ns pb1">{{ .Description }} - Seite {{ $paginator.PageNumber }}</div>{{end}}
</header>	
	<h2 class=dn>{{ .Page.Title }}</h2>
	<article>
		<div class=liste>
			{{ range $paginator.Pages -}}
				{{ partial "summary.html" . }}
				{{ $sp := .Store.Get "sprites" }}
				{{ range $key, $val := $sp }}
					{{ $.Store.SetInMap "sprites" $key  $val }}
				{{end}}
			{{end}}
		</div>

		{{ partial "pagination.html" . }}
	</article>
{{ end }}
