<!DOCTYPE html>
<html {{ with site.Language.Lang }}lang={{ . }} {{ end }} >
<head>
{{ partial "meta.html" . }}
</head>
<body id="top" class="vh-100" >
	<header>
		{{ $dragon := resources.Get "svg/dragon.svg"  }}
		<h1>{{ .RenderString site.Title }} {{ $dragon.Content | safeHTML }} {{ .Page.Title }}</h1>
	</header>
{{ partial "aside.html" . }}
<article id=sidebar class="f3 w-100 pv2 bt bb bw2 b--blue">
	<div class="flex-column cf items-center w-100">
		{{ range site.Menus.main}}
		<div id={{.Identifier}} class=pv1><a href={{ .URL }}>{{ .Name }}</a></div>
		{{end}}
		{{ if site.IsServer -}}
		{{ with site.GetPage "/intern/_index.md" }}<div id=Intern><a href={{.RelPermalink}}>Intern</a></div>{{end}}
		{{ with site.GetPage "/test/_index.md" }}<div id=Test><a href={{.RelPermalink}}>Tests</a></div>{{end}}
		{{- end}}
	</div>
</article>
</body>
</html>
