{{ $src := .Get 0 }}
{{ with try (resources.GetRemote $src ) }}
{{ with .Err }}
{{ errorf "%s" . }}
{{ else  with .Value }}
{{ $url := urls.Parse $src }}{{ $path := urls.JoinPath  "img/ext" $url.Host $url.Path }}
{{ $background := .Fit "33x22 jpg #ffffff q50" }}
<a href="{{ $src }}" target="_blank" title="Original Source">
  {{ with resources.Copy $path . }}
  <img loading=lazy src="{{ .RelPermalink }}" width={{ .Width }} height={{ .Height }}
       style="background: url(data:image/jpeg;base64,{{ $background | base64Encode  }});background-size:100% 100%;" alt="">
  {{ end }}
</a>
{{ end }}
{{ end }}